---
import Item from "~/components/portfolio/ListItem.astro";
import type { Portfolio } from "~/types";

export interface Props {
  portfolios: Array<Portfolio>;
}

const { portfolios } = Astro.props;
---

<ul class="flex flex-wrap items-start justify-center gap-12">
  {
    portfolios.map((portfolio) => (
      <>
        <li class="w-full max-w-sm">
          <Item portfolio={portfolio} />
        </li>
      </>
    ))
  }
</ul>
