---
import { Picture } from "@astrojs/image/components";

import { PORTFOLIO } from "~/config.mjs";
import type { Portfolio } from "~/types";

import { getPermalink } from "~/utils/permalinks";
import { findImage } from "~/utils/images";

export interface Props {
  portfolio: Portfolio;
}

const { portfolio } = Astro.props;
const image = await findImage(portfolio.imageSocial);

const link = !PORTFOLIO?.disabled ? getPermalink(portfolio.permalink, "work", "portfolio") : "";
---

<article class={``}>
  {
    image && (
      <a class="group relative block" href={link ?? "javascript:void(0)"}>
        {image && (
          <Picture
            src={image}
            class="mb-4 rounded-lg bg-gray-400 shadow-lg dark:bg-slate-700"
            widths={[400, 900]}
            sizes="(max-width: 900px) 400px, 900px"
            alt={portfolio.title}
            aspectRatio="3:2"
            loading="lazy"
            width={432}
            height={256}
            decoding="async"
          />
        )}
      </a>
    )
  }

  <div class="mt-2">
    <header>
      <h2 class="font-heading mt-2 text-2xl font-bold leading-tight dark:text-slate-300 sm:text-3xl">
        {
          link ? (
            <a class="transition duration-200 ease-in hover:text-yellow-600 dark:hover:text-yellow-500" href={link}>
              {portfolio.title}
            </a>
          ) : (
            portfolio.title
          )
        }
      </h2>
      <div class="text-sm">
        {
          portfolio.category && (
            <a class="capitalize hover:underline" href={getPermalink(portfolio.category, "category", "portfolio")}>
              {portfolio.category.replaceAll("-", " ")}
            </a>
          )
        }
      </div>
    </header>
  </div>
  <hr class="mx-auto my-4 w-full md:hidden" />
</article>
