---
import Logo from "~/components/atoms/Logo.astro";
import ToggleTheme from "~/components/core/ToggleTheme.astro";
import ToggleMenu from "~/components/core/ToggleMenu.astro";

import { getHomePermalink, getPortfolioPermalink, getContactPermalink } from "~/utils/permalinks";
---

<header
  class="sticky top-0 z-40 flex-none w-full mx-auto bg-white border-b md:bg-white/90 dark:bg-slate-900 dark:md:bg-slate-900/90 md:backdrop-blur-sm dark:border-b-0"
>
  <div class="w-full max-w-6xl px-3 py-3 mx-auto md:flex md:justify-between md:px-4">
    <div class="flex justify-between">
      <a class="flex items-center" href={getHomePermalink()}>
        <Logo />
      </a>
      <div class="flex items-center md:hidden">
        <ToggleTheme />
        <ToggleMenu />
      </div>
    </div>
    <nav
      class="items-center hidden w-full h-screen text-gray-600 md:w-auto md:flex dark:text-slate-200 md:h-auto"
      aria-label="Main navigation"
      id="menu"
    >
      <ul class="flex flex-col w-full pt-8 text-xl md:pt-0 md:flex-row md:self-center collapse md:w-auto collapsed md:text-base">
        <li>
          <a
            class="flex items-center px-4 py-3 font-medium transition duration-150 ease-in-out hover:text-gray-900 dark:hover:text-white"
            href={getHomePermalink()}>Home</a
          >
        </li>
        <li>
          <a
            class="flex items-center px-4 py-3 font-medium transition duration-150 ease-in-out hover:text-gray-900 dark:hover:text-white"
            href={getHomePermalink() + "#services"}
            >Services
          </a>
        </li>
        <li>
          <a
            class="flex items-center px-4 py-3 font-medium transition duration-150 ease-in-out hover:text-gray-900 dark:hover:text-white"
            href={getPortfolioPermalink()}
            >Portfolio
          </a>
        </li>
        <li>
          <a
            class="flex items-center px-4 py-3 font-medium transition duration-150 ease-in-out hover:text-gray-900 dark:hover:text-white"
            href={getContactPermalink()}
            >Contact
          </a>
        </li>
      </ul>
      <div class="flex items-center mb-4 ml-2 md:self-center md:mb-0">
        <div class="items-center hidden md:flex">
          <ToggleTheme iconClass="w-5 h-5" />
        </div>
      </div>
    </nav>
  </div>
</header>
