---
import Layout from "~/layouts/BaseLayout.astro";
import { getHomePermalink } from "~/utils/permalinks";

const title = `Error 404`;
---

<Layout meta={{ title }}>
  <section class="container mx-auto flex h-screen items-center justify-center">
    <div class="flex h-screen flex-col items-center justify-center">
      <h2 class="-mt-16 mb-8 text-9xl font-bold">
        <span class="sr-only">Error</span>
        <span class="text-yellow-500">404</span>
      </h2>
      <p class="mb-8 text-3xl font-semibold md:text-3xl">Sorry, we couldn't find this page.</p>
      <a rel="noopener noreferrer" href={getHomePermalink()} class="btn btn-primary">Back to homepage</a>
    </div>
  </section>
</Layout>
