---
import { SITE } from "~/config.mjs";
import Layout from "~/layouts/PageLayout.astro";
import { getPermalink } from "~/utils/permalinks";

import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Steps from "~/components/widgets/Steps.astro";
import LatestPortfolios from "~/components/portfolio/LatestPortfolios.astro";
import LatestPosts from "~/components/blog/LatestPosts.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Cookies from "~/components/widgets/Cookies.svelte";

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Cookies client:load />
  <Hero callToAction={{ text: "Contact Us", href: getPermalink("/contact"), icon: "ic:round-email" }}>
    <Fragment slot="title">Web Design and Development for small businesses.</Fragment>

    <Fragment slot="subtitle">
      Custom web building for anyone on the web. We provide the best service and attention to detail for reasonable pricing.
    </Fragment>
  </Hero>

  <Note title="Philosophy:" text="Strive for continuous improvement instead of perfection." extraMargin />

  <Features
    highlight="What we do"
    title="Hosting"
    id="services"
    items={[
      {
        title: "Hosting",
        description: ["Hosting in our servers", "Domain included in the price", "24/7 Customer support", "5k visits per month"],
      },
      {
        title: "Personal",
        description: [
          "All in the Hosting plan",
          "Custom web design and dev",
          "Single landing page",
          "Great for CVs or Landing Pages",
          "10k visits per month",
        ],
      },
      {
        title: "Business",
        description: [
          "All in the Standard plan",
          "One blog post per month",
          "CMS for you to manage",
          "20k visits per month",
          "Additionals blog posts",
        ],
      },
    ]}
  />

  <Features2
    title="Services"
    highlight="Why work with us?"
    items={[
      {
        title: "Design and Development",
        description: "The design and development of our plans take more than 40 hours of work.",
        icon: "noto:bookmark-tabs",
      },
      {
        title: "Mobile First Design",
        description: "We build our designs for mobile first. There will be no device that our web won't support.",
        icon: "flat-color-icons:smartphone-tablet",
      },
      {
        title: "Optimized designs",
        description: "Optimization is primordial for us. Our sites will have outstanding scores in performance and load times.",
        icon: "flat-color-icons:electro-devices",
      },
      {
        title: "Pricing",
        description: "We know price is important. We give facilities for everyone to have their site on the web.",
        icon: "flat-color-icons:calculator",
      },
      {
        title: "24/7 Customer Service",
        description: "Anytime you have a problem or a question, send us a message, and we will get back to you as soon as possible.",
        icon: "noto:eight-oclock",
      },
      {
        title: "Lifetime Support",
        description: "Your website is no longer a problem. If you have your site hosted with us, we will take care all the time for it.",
        icon: "flat-color-icons:support",
      },
    ]}
  />

  <Features
    highlight="What we do"
    title="Design"
    items={[
      {
        title: "Logo",
        description: ["Up to 2 Revisions", "Light and Dark themes", "Color palettes", "Included with Business Plans", "Copyright Ownership"],
      },
      {
        title: "Branding",
        description: ["Up to 5 Revisions", "Includes logo design", "Business Card", "Letterhead & Envelope Designs", "Copyright Ownership"],
      },
      {
        title: "Premium Branding",
        description: [
          "Up to 5 Revisions per item",
          "Includes all in the Branding package",
          "Flyer / Poster / Brochure",
          "Compliments slip",
          "Board / Hoarder design",
          "Social Media Kit",
          "Copyright Ownership",
        ],
      },
    ]}
  />

  <Note title="Philosophy:" text="Simplicity is the ultimate form of sophistication." extraMargin />

  <Steps
    title="Learn about our design process"
    id="steps"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Knowing our clients</span>',
        description:
          "Finding out the needs and objectives of the client is the first stage in web design. Discussing their company, brand market, and purpose is a part of this knowledge process. In this step, the client and the designer create a plan for the website, outlining the structure, functionality, content, and graphic components.",
        icon: "ic:baseline-person-search",
      },
      {
        title: 'Step 2: <span class="font-medium">Making the basic structure</em>',
        description:
          "Our designers define the site's layout and structure in this stage. Then, our designers create a map as part of this drawing process to portray the website's functionalities, navigation, and content variety. To make a website simple and quick to browse when users look for the information they need, hierarchy, structure, and an attractive design are essential.",
        icon: "carbon:data-structured",
      },
      {
        title: 'Step 3: <span class="font-medium">Creating a visual style</span>',
        description:
          "Once the structure and functionality of the site are defined, our designer creates a visual design that reflects the client's brand and the website's purpose. In this step, the color scheme, the typography, and the graphic scope are chosen, following the client's vision and intended audience.",
        icon: "tabler:paint",
      },
      {
        title: 'Step 4: <span class="font-medium">Time for development</span>',
        description:
          "We turn the visual design into a functional website using HTML, CSS, and other web development languages specified in the second stage. We build the functionality during this stage of development, along with its content, optimization for search engines and responsiveness for mobile devices, and, if necessary, integration with a content management system (CMS).",
        icon: "tabler:code",
      },
      {
        title: 'Step 5: <span class="font-medium">Test and... </span>',
        description:
          "We test the website to make sure every element functions as expected before it is ready for launch. This testing includes links, forms, site performance, and speed optimization. The client and his audience can begin using the website and enjoying our well-done work once we have thoroughly tested it.",
        icon: "ic:round-checklist",
      },
      {
        title: "Launch!",
        icon: "tabler:rocket",
      },
    ]}
    image={{
      src: import("~/assets/images/pexels-fauxels-3182834.jpg"),
      alt: "Step by step",
    }}
  />

  <LatestPortfolios title="Lastest works in the Portfolio" portfoliosIds={["fmzurich.md", "cartagena.md"]} />

  <LatestPosts title="Lastest posts in the Blog" postIds={["why-is-google-lighthouse-so-important.md", "why-we-choose-astro.md"]} />

  <FAQs
    title="Frequently Asked Questions"
    highlight="FAQs"
    id="faq"
    items={[
      [
        {
          question: "Why choose Pristine Shock Web Studio?",
          answer:
            "We love our work, and maybe we are a little biased, but it is a good one compared to international standards. But for us, our real winner is our customer service. We ensure you get the best value by delivering high-quality and high-performant websites at an affordable price.",
        },
        {
          question: "What services do you provide?",
          answer:
            "Our principal strength is designing and building websites, and we supervise them. We host them on the web and keep them working flawlessly. We also develop custom applications if that is appropriate for your case. We also do logos and design in general, SEO, marketing, blogging, or maintenance. But we assure you, your web won't be a problem for you when we are involved.",
        },
        {
          question: "How long does it take to build a website?",
          answer:
            "On average, websites launch within 2 to 8 weeks from project start, ranging from project to project. If you need the website at a specific deadline, talk to us so we check what we can do to meet your target, but we usually take our time to make sure our work is meeting our standards.",
        },
        {
          question: "Do I need separate web hosting?",
          answer:
            "On average, websites launch within 2 to 8 weeks from project start, ranging from project to project. If you need the website at a specific deadline, talk to us so we check what we can do to meet your target, but we usually take our time to make sure our work is meeting our standards.",
        },
        {
          question: "Do your websites work well on mobile devices (responsive)?",
          answer:
            "We design with the mobile-first methodology, so our sites will always be responsive and work on small screens like phones or tablets. We put a high emphasis on making sure our website experience is second-to-none. If you find our site is not working as it should, just let us know, and we will solve it as soon as possible, at no charge.",
        },
        {
          question: "Do your plans include search engine optimization (SEO)?",
          answer:
            "Our websites go through rigorous optimization for SEO. This process ensures search engines can easily read and rank the website. Depending on the business and the competition, this may be enough to get you on the first page of the most popular search engines, even the top spots. Others may need additional specialized SEO services, but sometimes one must be realistic with the expectations of their position in Google.",
        },
      ],
      [
        {
          question: "Do I own the website?",
          answer:
            "You are the only owner of your website design. Our websites are built in HTML and can transfer to most web hosts. We like you to stay with us because you want to, not because you have to.",
        },
        {
          question: "Am I bonded to a contract?",
          answer:
            "Not exactly. You are free to cancel at any time. If you want to move your website from our servers before a year of service, you must pay for the remaining time of the contract. (this contains the amortization of the initial design & build cost).",
        },
        {
          question: "Are there any additional fees?",
          answer:
            "Our plans include the cost of a domain, development, hosting, and management. No additional fees are going to be charged by us to keep the website running. Some packages include mail, but in others, you must purchase the service yourself if you need it or upgrade the current package.",
        },
        {
          question: "Can you help me finish my incomplete website?",
          answer:
            "We are sorry, but we can't help you. We follow an extensive method of design made to provide you with a product that meets your expectations and ours too. However, we can look through it and use it as inspiration or a guideline for the new project.",
        },
        {
          question: "Do you offer a satisfaction guarantee & warranty?",
          answer:
            "When we start a new project, we do the design and then develop it. The hours of work on the base design are part of the subscription value, but we only make the contract after you agree on the draft. We consider that if you liked our first design, you are already satisfied with us. If you don't like the design or think that working with us may not be the best decision, you can pull out anytime before we start to develop the website free of charge.",
        },
        {
          question: "Can I upgrade, downgrade, or cancel at any time?",
          answer:
            "Yes, you can upgrade at any point. A downgrade is also possible at any point after a year. You can cancel anytime, but you must pay the remaining cost of the contract. After a year, we will work as a subscription service where you can cancel anytime.",
        },
        {
          question: "I have a question, but it is not here. How can I talk to you?",
          answer:
            "Look for the contact form! Talk to us, and we will talk to you about our process and assure you don't have any doubts. Maybe we can make you a draft to see if you like our work! I'm pretty confident we will make you a client!",
        },
      ],
    ]}
  />

  <CallToAction
    callToAction={{
      text: "Write Us",
      href: getPermalink("/contact"),
      icon: "ic:round-email",
    }}
  >
    <Fragment slot="title">Still some doubts? Talk to us!</Fragment>

    <Fragment slot="subtitle">
      No startup costs, no upfront investment. <br class="hidden md:inline" />You pay nothing if you don't like your design.
    </Fragment>
  </CallToAction>
</Layout>
