---
import { SITE } from "~/config.mjs";
---

<p class="flex flex-col">
  <span class="font-abel text-3xl font-bold tracking-[-0.1rem] md:text-5xl">{SITE.name}</span>
  <span class="-mt-2 font-blinker text-base md:text-xl">Web Studio</span>
</p>
