---
import { SITE } from "~/config.mjs";
---

<p class="flex flex-col ml-2">
  <span class="text-3xl font-bold md:text-5xl font-abel">{SITE.name}</span>
  <span class="-mt-2 text-md md:text-xl font-blinker">Web Studio</span>
</p>
