---
import { SITE } from "~/config.mjs";
---

<p class="flex flex-col ml-2">
	<span class="text-5xl font-bold font-abel">{SITE.name}</span>
	<span class="-mt-2 text-xl font-blinker">Web Studio</span>
</p>
