---
import Picture from "~/components/core/Picture.astro";

import { findPostsByIds } from "~/utils/posts";
import { findImage } from "~/utils/images";
import { getPermalink } from "~/utils/permalinks";

const ids = ["why-we-choose-astro", "why-is-google-lightouse-so-important"];

const items = await Promise.all((await findPostsByIds(ids)).map(async (item) => ({ ...item, image: await findImage(item.image) })));
---

<section class="max-w-6xl px-4 py-16 mx-auto lg:py-20">
  <h2 class="mb-6 text-3xl font-bold tracking-tight md:text-center sm:text-4xl sm:leading-none font-heading">Some highlights of our Blog</h2>

  <div class="grid gap-6 row-gap-5 -mb-6 md:grid-cols-2">
    {
      items.map((post) => (
        <article class="mb-6 transition">
          <Picture
            src={post.image}
            class="object-cover w-full h-64 mb-6 bg-gray-400 rounded shadow-lg dark:bg-slate-700"
            widths={[400, 900]}
            sizes="(max-width: 900px) 400px, 900px"
            alt={post.title}
            aspectRatio="16:9"
          />
          <h3 class="mb-2 text-xl font-bold leading-snug sm:text-2xl font-heading">
            <a
              href={getPermalink(post.slug, "post")}
              class="underline transition duration-200 ease-in hover:text-primary-600 underline-offset-4 decoration-1 decoration-dotted"
            >
              {post.title}
            </a>
          </h3>
          <p class="text-gray-700 dark:text-gray-400">{post.description}</p>
        </article>
      ))
    }
  </div>
</section>
